@model StudentsCourseDetails.Models.StudentModel



<script type="text/javascript">
    $(function() {

        $(document).ready(function() {
            $('#txtStudentID').keypress(function(e) {
                NumericOnly(e);
            });
            //if (fnValidateEmail($('#txtMailid').val().trim()) == false) {
            //    $('#msgMail').text('Please enter valid Email').show();
            //    return_val = false;
            //} else {
            //    $('#msgMail').text('Please enter Email').hide();
            //}
        });

        function ValidateUser() {
            var return_val = true;
            if ($('#txtStudentID').val().trim() == '') {
                $('#msgid').show();
                return_val = false;
            } else {
                 $('#msgid').hide();
            }
            if ($('#txtSName').val().trim() == '') {
                $('#msgname').show();
                return_val = false;
            } else {
                $('#msgname').hide();
            }
            if ($('#txtMailid').val().trim() == '') {
                $('#msgMail').text('Please enter Email').show();
                return_val = false;
            } else {
                $('#txtMailid').next('span').hide();
                if (fnValidateEmail($('#txtMailid').val().trim()) == false) {
                    $('#msgMail').text('Please enter valid Email').show();
                    return_val = false;
                } else {
                    $('#msgMail').text('Please enter Email').hide();
                }
            }
            if ($('#txtCourseid').val().trim() == '') {
                $('#msgcourseID').show();
                return_val = false;
            } else {
                 $('#msgcourseID').hide();
            }
            if ($('#txtCourseName').val().trim() == '') {
                $('#msgCourseName').show();
                return_val = false;
            } else {
                $('#msgCourseName').hide();
            }
              if ($('#ddlAttendance').val() == 0) {
                $('#msgAttendacne').show();
                return_val = false;
            } else {
                $('#msgAttendacne').hide();
            }
            return return_val;            
        }
        function fnValidateEmail(email) {
            var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            return expr.test(email);
        }

        function NumericOnly(e) {
            var regex = new RegExp("^[0-9]+$");
            var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
            if (regex.test(str)) {
                return true;
            }
            e.preventDefault();
            return false;
        }

        $('#btnSave').click(function(e) {
             debugger
            if (ValidateUser()) {
                e.preventDefault();
                var data = new Object();
                data.StudentId = $('#txtStudentID').val();
                data.StudentName = $('#txtSName').val();
                data.MailId = $('#txtMailid').val();
                data.CourseID = $('#txtCourseid').val();
                data.CourseName = $('#txtCourseName').val();
                data.Attendance = $('#ddlAttendance').val();

                $.ajax({
                    url: "/Student/Save",
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "json",
                    contentType: "application/json",
                    success: function(data) {
                        alert(data.msg);
                        window.location.href= "@Url.Action("Index", "Student")";
                    },
                    error: function() {
                        alert("Error occured!!")
                    }
                });
            }
        });
    });
</script>


<hr />
<div class="container">
    <div class="row">
        <div class="col align-self-center">

        </div>
        <div class="col col-md-6 align-self-center">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="StudentId" class="control-label"></label>
                <input id="txtStudentID" asp-for="StudentId" class="form-control" />
                    </div>
                    <div class="col-md-6">
                         @Html.ValidationMessageFor(Model => Model.StudentId, "Please enter StudentID", new { @class = "text-danger", id="msgid", style = "display:none" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                 <div class="row">
                    <div class="col-md-6">
                          <label asp-for="StudentName" class="control-label"></label>
                <input id="txtSName" asp-for="StudentName" class="form-control" />
                    </div>
                    <div class="col-md-6">
                          @Html.ValidationMessageFor(Model => Model.StudentName, "Please enter StudentName", new { @class = "text-danger", id="msgname", style = "display:none" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                          <label asp-for="MailId" class="control-label"></label>
                <input id="txtMailid" asp-for="MailId" class="form-control" />
                    </div>
                    <div class="col-md-6">
                         @Html.ValidationMessageFor(Model => Model.MailId, "Please enter MailId", new { @class = "text-danger",id="msgMail", style = "display:none" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                         <label asp-for="CourseID" class="control-label"></label>
                <input id="txtCourseid" asp-for="CourseID" class="form-control" />
                    </div>
                    <div class="col-md-6">
                          @Html.ValidationMessageFor(Model => Model.CourseID, "Please enter CourseID", new { @class = "text-danger",id="msgcourseID", style = "display:none" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">                        
                <label asp-for="CourseName" class="control-label"></label>
                <input id="txtCourseName" asp-for="CourseName" class="form-control" />
                    </div>
                    <div class="col-md-6">                        
                @Html.ValidationMessageFor(Model => Model.CourseName, "Please enter CourseName", new { @class = "text-danger",id="msgCourseName", style = "display:none" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                          <label asp-for="Attendance" class="control-label"></label>
                @Html.DropDownListFor(Model => Model.Attendance, new SelectList(  
                  new List<Object>{   
                       new { value = 0 , text = "Select"  },  
                       new { value = 1 , text = "Full Time" },  
                       new { value = 2 , text = "Part Time"},
                       new { value = 3 , text = "Distance Learning"}  
                    },  
                  "value",  
                  "text", 0), new { @id="ddlAttendance", @class="form-select" })
                    </div>
                    <div class="col-md-6">
                         @Html.ValidationMessageFor(Model => Model.CourseName, "Please select Attendance Type", new { @class = "text-danger",id="msgAttendacne", style = "display:none" })
                    </div>
                </div>
              
            </div>
            <div class="form-group" style="margin-top:20px;">
                <input id="btnSave" type="submit" value="Save" class="btn btn-primary" />
            </div>

        </div>
    </div>

</div>

